flask==2.3.3
requests==2.31.0
pytz==2023.3
gspread==5.10.0
google-auth==2.23.0
pymongo==4.5.0
google-generativeai
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.1
google-api-python-client==2.108.0
PyPDF2==3.0.1
groq==0.8.0
python-dotenv==1.0.0
google-cloud-vision==3.4.4
Pillow>=10.2.0
PyMuPDF>=1.24.0
yfinance
pandas
numpy
